<header class="site-header">
  <body>
  <link rel="stylesheet" href="index.css">
  <section class="header">
  <nav>
    <div class="nav-links">
      <ul>
        <li class="fork"><a style="font-size: 20px" href="{{site.baseurl}}/">Home</a></li>
        <li class="fork"><a style="font-size: 20px" href="{{site.baseurl}}/csa">Plans</a></li>
        <li class="fork"><a style="font-size: 20px" href="{{site.baseurl}}/blogs">Blogs</a></li>
        <li class="title"><a style="font-size: 20px" href="https://github.com/e-shen2022/student/#readme">GitHub</a></li>
      </ul>
    </div>
  </nav>
  </section>
  </body>
</header>



